*{
    padding: 0px;
    margin: 0px;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.bg{
    background: url('lake.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(10px);
}

.loading-text{
    font-size: 50px;
    color: #fff;

}